#back-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:fixed;
    z-index:-1;
    filter: brightness(0.5);
}

#mainPage {
    //background-color: rgb(0 0 0 / 0.38);
    position: relative;
}
#sec1 {
    position: relative;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    
}
#sec1 h1{
    font-size:90px;
    font-weight:900;
    text-transform:uppercase;
    position:relative;
}
    #sec1 h1:before {
        content: "Eat. Drink. Play.";
        position: absolute;
        color: black;
        top: -4px;
        left: -4px;
        -webkit-text-stroke: 2px #19fa05;
        z-index: -1;
    }
#sec1 h2 {
        font-size: 26px;
        font-weight: 800;
        text-transform: uppercase;
        margin-top:20px;
        margin-bottom:20px;
}
#sec1 p {
        font-size: 19px;
        font-weight: 400;
        text-transform: uppercase;
        width:50%;
}
#sec2{
    position:relative;
    height: 100vh;
    width: 100%;
}
#mark{
    text-transform: uppercase;
    font-size:100px;
    font-weight:900;
    transition:all linear 0.6s;
    color:transparent;
    -webkit-text-stroke:2px lime;
    margin-top:100px;
}

#mark:hover{
    color:white;
    -webkit-text-stroke:2px transparent;
}
